<%= render "chat/layouts/navigation" %>

<div class="container-fluid" id="page-container">
  <span class="breadcrumb"> Chat </span>

  <div class="row">
    <div class="col-md-12">
      <div class="d-flex justify-content-center">
        <div>
          <%= image_tag("mug-hot.png", :class => "onpage_logo") %>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <div>      
          <h4> The Chatroom </h4>
        </div>
      </div>  
    </div>  
  </div>  
  <br />

  <div class="row">
    <div class="col-md-12">
      <div class="card border-secondary shadow p-2 mb-2 bg-white rounded">
        <div class="card-body" id="message-container">
          <%= render @messages %>
        </div>
      </div>
    </div>
  </div>     

  <div class="row">
    <div class="col-md-12">
      <div class="card border-secondary shadow p-2 mb-2 bg-white rounded">
        <div class="card-body"> 
          <%= form_for(@message, 
                        html: {class: "form", role: "form"}, 
                        url: chat_message_path, 
                        remote: true) do |f| %>
            <div>
              <%= f.text_field :body, id: "new_message", placeholder: "Enter your message here" %>
              <%= f.submit 'Submit', id: "message_submit_btn" %>
            <div/>   
          <% end %>        
        </div>
      </div>  
    </div>
  </div>
</div>
