<!-- Edit Profile Modal Dialog -->
<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileModalLabel">Edit Your Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- < % = render 'shared/errors', obj: @user % > -->

        <%= form_with(model: @user, 
                    class: "shadow p-3 mb-3 bg-info rounded", 
                    local: true) do |f| %>

          <div class="form-group row">
              <%= f.label :username, class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                  <%= f.text_field :username, class: "form-control shadow rounded", 
                      placeholder: "Enter a username" %>
              </div>
          </div>
          <div class="form-group row">
              <%= f.label :email, class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                  <%= f.email_field :email, class: "form-control shadow rounded", 
                      placeholder: "Enter your email address"  %>
              </div>
          </div>
          <div class="form-group row">
              <%= f.label :password, class: "col-2 col-form-label text-light" %>
              <div class="col-10">
                  <%= f.password_field :password, class: "form-control shadow rounded", 
                      placeholder: "Choose a password"  %>
              </div>
          </div>
          <br />
          <div class="d-flex flex-row-reverse">
            <%= f.submit("Update Account", class: "btn btn-primary") %>
            <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
          </div>
        <% end %>  
      </div>

      <!--
      <div class="modal-footer">
        <div class="form-group row justify-content-center">
          < % = f.submit(@user.new_record? ? "Sign Up": "Update Account", class: "btn btn-outline-light") % >
        </div>
      </div>
      -->
    </div>
  </div>
</div>

<!-- LOGO ROW -->
<nav class="navbar fixed-top" style="height: 50px;">
  <div class="container-fluid">
    <div class="ml-1" style="margin-top: -14px;">
      <a href="/">
        <span id="logo_icon"> &#10044 &nbsp; </span>   <!-- 6-lobed dingbat daisy hollow center -->
        <span class="navbar-brand", id="logo"> poly-app </span>
      </a>
    </div>
    <div class="account-menu mr-5">
      <ul>
        <% if logged_in? %>
          <li class="nav-item" style="display: inline-block;">
            <%= link_to 'Log Out', logout_path, class: "nav-link", method: :delete %>
          </li> 
          <li class="nav-item dropdown" style="display: inline-block;">
            <a class="nav-link dropdown-toggle" href="#" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
              <!-- < % = link_to "Edit Your Profile", edit_user_path(current_user), class: "dropdown-item" % > -->
              <button type="button" class="btn dropdown-item" data-toggle="modal" data-target="#editProfileModal">
                Edit Your Profile
              </button>
              <%= link_to "View Your Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "View Members", users_path, class: "dropdown-item" %>
            </div> 
          </li>
        <% else %>   
          <li class="nav-item" style="display: inline-block;">
            <%= link_to 'Log In', login_path, class: "nav-link" %>
          </li>
          <li class="nav-item" style="display: inline-block;">
            <%= link_to 'Sign Up', signup_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
    <button class="hamburger_btn">
      <a href="/sitemap"> &#x2630 </a>  <!-- Hamburger -->
    </button>
  </div>
</nav>

<!-- MAIN MENU ROW -->
<nav class="navbar fixed-top navbar-expand-sm" id="main_menu" style="postition: fixed; top: 50px;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link " + active_app?('home') %>
        </li>      
        <li class="nav-item">
          <%= link_to "Blog", blog_articles_path, class: "nav-link " + active_app?('blog') %>
        </li>
        <li class="nav-item">
          <%= link_to "Chat", chat_path, class: "nav-link " + active_app?('chat') %>
        </li>
        <li class="nav-item">
          <%= link_to "Photos", users_path, class: "nav-link " + active_app?('photos') %>
        </li>
        <li class="nav-item">
          <%= link_to "Projects", users_path, class: "nav-link " + active_app?('projects') %>
        </li>
        <li class="nav-item">
          <%= link_to "Stock", users_path, class: "nav-link " + active_app?('stock') %>
        </li>
        <li class="nav-item">
          <%= link_to "University", users_path, class: "nav-link " + active_app?('university') %>
        </li>
        <li class="nav-item">
          <%= link_to "About", about_path, class: "nav-link " + active_app?('about') %>
        </li>        
      </ul>
    </div>
  </div>
</nav>
