<!DOCTYPE html>
<html>
  <head>
    <title>poly-app</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="site-content">
      <%= render "layouts/poly_app_navigation" %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
